<article class="post mb-3">
    <a href="{{post_url}}" class="subtitle is-4" target="_blank">{{title}}</a>
    <div class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    by <a href="#">@{{user.username}}</a> {{format_date created_at}} &nbsp;
                    |
                    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
                </p>
            </div>
        </div>
        <div class="media-right">
            <span class="has-text-grey-light"><i class="fa fa-heart"></i> {{vote_count}}</span>
        </div>
    </div>
</article>