<article class="post mb-4 ml-6">
    <a href="{{post.post_url}}" class="subtitle is-4" target="_blank">{{post.title}}</a>
    <div class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    by <a href="#">@{{post.user.username}}</a> {{post.created_at}} &nbsp;
                    |
                    <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
                    <span class="has-text-grey-light ml-4"><i class="fa fa-heart" id="upvote-btn"></i> {{post.vote_count}}</span>
                </p>
            </div>
        </div>
    </div>
</article>
{{#if loggedIn}}
<div class="field column is-two-fifths ml-6">
    <div class="control">
        <textarea class="textarea" placeholder="Add a comment..." id="comment-form"></textarea>
    </div>
</div>
<div class="buttons column is-one-third ml-6">
    <button class="button is-info" id="comment-btn">Add Comment</button>
</div>
{{/if}}
{{> comments post.comments}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}